*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #bdbdbd; }

html {
  font-size: 62.5%; }

body {
  font-family: 'lato', sans-serif;
  line-height: 1.7; }

.heading-primary {
  color: #181818;
  text-transform: uppercase;
  margin-bottom: 4rem; }
  .heading-primary--main {
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 800;
    letter-spacing: 0.5rem;
    animation: moveInLeft 1s ease-out; }
  .heading-primary__card-title {
    width: 80%;
    font-size: 3rem;
    line-height: 4rem;
    margin: 4rem auto 2rem auto; }
  .heading-primary__card-body {
    width: 80%;
    font-size: 1.4rem;
    text-align: justify;
    margin-top: 15%; }

.header {
  display: flex;
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(214, 190, 190, 0.8), rgba(212, 148, 148, 0.8)), url(../../assets/backgroundImage.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 90%, 0 100%, 0 0); }
  .header__text-box {
    display: flex;
    width: 100%;
    height: 20rem;
    position: absolute;
    justify-content: center;
    align-items: center; }
  .header__card-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center; }

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 400px;
  perspective: 1000px;
  border: none;
  margin: 2%;
  cursor: pointer; }
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d; }
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: linear-gradient(to right bottom, #d6bebe, #d49494);
    color: #181818; }
    .flip-card-front hr, .flip-card-back hr {
      width: 30%;
      height: 3px;
      margin: auto;
      background-color: #181818;
      border: none; }
  .flip-card-front img {
    width: 100%; }
  .flip-card-back {
    transform: rotateY(180deg);
    display: flex;
    justify-content: center; }
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg); }
